<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% include "posts/style1.html" %}
    <title>Save The Grain</title>
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include "posts/navbar.html" %}
        <main class="px-3 mb-auto text-center">
            <h1 id="head">Save The Grain</h1>
            <p class="quote"> “Respect for food is a respect for life, for who we are and what we do” ...</p>
        </main>
    </div>

    <section id="working">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet officiis ea magnam eligendi hic culpa eos voluptatem dignissimos sed alias incidunt nulla eaque aperiam maxime adipisci, nostrum cum? Voluptates, beatae!Quasi in explicabo ipsam quibusdam, delectus blanditiis nesciunt? Ea dolore eum aliquid quia, quam officia inventore nam aliquam dolores voluptatibus saepe quos cupiditate rem adipisci facere provident reiciendis expedita? Recusandae?</p>
    </section>
    
    <section id="contact"></section>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</html>